@mixin bodyStyles {
    background-color: #000000;
    color: #fff;
}

@mixin barLogo {
    display: flex;
    padding: 1vw;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: clamp(1vw, 3.5vw, 4vw);
    cursor: pointer;
}

@mixin barLogoHover {
    scale: 108%;

}

@mixin infoMainOferta {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    box-sizing: border-box;
    gap: 3vw;
    align-items: center;
}

@mixin infoMainCapturaGral {
    max-width: 50vw;
}

@mixin infoMainButtons {
    padding: 2vw;
    text-align: center;
}


@mixin ofertaInfo {
    font-size: clamp(2vw, 3vw, 4vw);
    font-weight: 800;
    color: #fff499;
}

@mixin ofertaDesc {
    font-size: clamp(1vw, 2vw, 3vw);
    font-weight: 500;
}

@mixin infoMainCaptureService {
    text-align: center;
    padding: 2vw 3vw;
    box-sizing: border-box;
}

@mixin logoRojo {
    max-width: 5vw;
    transition: all .25s ease;
}

@mixin transition25s {
    transition: all .25s ease;
}

@mixin infoSecond {
    display: flex;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 4vw 0;
    padding: 2vw;
    justify-content: space-evenly;
    box-sizing: border-box;

}

@mixin infoSecondInfo {
    margin: auto;

}

@mixin infoSecondTitle {
    font-size: clamp(1vw, 2vw, 3vw);
    font-weight: 500;
    margin: 1vw 0;
}

@mixin infoSecondP {
    margin: 1vw 0;
    font-size: clamp(.8vw, 1.5vw, 2vw);
}

@mixin infoMovies {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 4vw 0;
    padding: 2vw;
    justify-content: space-evenly;
    box-sizing: border-box;
    text-align: center;
}

@mixin moviesSeriesFreeTitle {
    font-size: clamp(1vw, 2vw, 3vw);
    font-weight: 500;
    margin: 1vw 0;
}

@mixin moviesSeriesFreeP {
    margin: 1vw 0;
    font-size: clamp(.8vw, 1.5vw, 2vw);
}

@mixin infoShare {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin-top: 4vw;
    padding: 2vw;
    justify-content: space-evenly;
    box-sizing: border-box;
    text-align: center;
    height: 30vw;
    background: linear-gradient(0deg, #ffffff, 75%, black);
}

@mixin infoShareText {
    font-size: clamp(1vw, 2vw, 3vw);
    font-weight: 500;
    margin: 1vw 0;
}

@mixin infoShareP {
    margin: 1vw 0;
    font-size: clamp(.5vw, 1.5vw, 2vw);
}

@mixin infoSharePriceText {
    font-size: clamp(1vw, 2vw, 3vw);
    font-weight: 500;
    margin: 1vw 0;
    color: #000000;
}

@mixin infoMore {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 2vw;
    background: linear-gradient(180deg, #ffffff, 75%, black);
    box-sizing: border-box;
    text-align: center;
    height: 25vw;
    color: #000;
}

@mixin infoMoreOffer {
    font-size: clamp(2vw, 3vw, 4vw);
    font-weight: 600;
    margin: 1vw 0;
}

@mixin legal {
    padding: 2vw;
}

@mixin legalInfo {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(0.5vw, 1vw, 1.1vw);
    color: #676767;
}

@mixin legalInfoContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vw;
    padding: 1vw;
    align-items: center;
}

@mixin inputEmail {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 22vw;
    border: none;
    border-radius: 5px;
    transition: all .15s ease;
    height: 2vw;
    text-align: center;
    color: #252401;
    font-size: clamp(1vw, 1.1vw, 1.5vw);
    font-weight: 600;
}

@mixin inputEmailFocus {
    outline: solid #ff5c04;

}

@mixin textButton {
    text-decoration: none;
}

@mixin buttonStartNow {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 4.1vw;
    width: 13vw;
    height: 4vw;
    margin-left: 2vw;
    background-color: #ff5c04;
    border: none;
    color: #000000;
    font-size: clamp(1vw, 1.1vw, 1.5vw);
    font-weight: 600;
    transition: all .25s ease-in;
    cursor: pointer;
}

@mixin startNowHover {
    background-color: #fff;
    color: #bb0c0c;
    width: 15vw;
}

@mixin infoSecondCapture {
    width: 55vw;
}

@mixin movieSeriesCatalogue {
    margin: 3vw 0;
}

@mixin movieSeriesImg {
    width: 46vw;
}

@mixin infoShareIcons {
    display: flex;
    justify-content: center;
    height: 10vw;
    align-items: center;
    gap: 8vw;
}

@mixin infoShareIconsDevices {
    display: flex;
}

@mixin devicesImg {
    width: 3vw;
}

@mixin infoMoreButtonTitle {
    text-decoration: none;

}

@mixin infoMoreStartNow {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 4.1vw;
    width: 15vw;
    height: 5vw;
    background-color: #ff0000;
    border: none;
    font-size: clamp(1vw, 1.8vw, 1.5vw);
    font-weight: 600;
    margin: 2vw 0;
    transition: all .25s ease-in;
    cursor: pointer;
    color: #000;
}

@mixin infoMoreStartNowHover {
    background-color: #000000;
    color: #fff;
    width: 18vw;
}

@mixin legalLogo {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vw;
    padding: 1vw;
    align-items: center;
}

@mixin legalLogoIcon {
    display: inline-block;
    width: 35%;
    align-self: flex-end;
}

@mixin legalLogoImg {
    width: 100%;
}