header {
    .barlogo {
        @include barLogo;

        i {
            width: 8%;

            .logo-rojo {
                max-width: 100%;
                transition: all .25s ease;
            
                &:hover {
                    scale: 108%;
                }
            }
        }


    }
}

.info-main {
    &__captureService {
        @include infoMainCaptureService;

        img {
            max-width: 70%;


            @media screen and (max-width: 700px) and (min-width: 200px) {
                width: 100%;
            }
        }
    }

    &__buttons {
        margin-top: 4rem;
        text-align: center;

        @media screen and (max-width: 700px) and (min-width:200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 2rem;
        }


        input[type = "text"] {
            @include inputEmail;

            @media screen and (max-width: 700px) and (min-width:200px) {
                width: 60%;
                border-radius: .8rem;

            }

            &:focus {
                outline: solid #ff5c04;
            }
        }

        a {
            text-decoration: none;

            .startNow {
                @include buttonStartNow(9.63rem, 3.1rem, 4.8rem, 0rem, 2rem, .8rem, 1.2vw, 1rem, #ff5c04);

                @media screen and (max-width: 700px) and (min-width: 200px) {
                    width: 7.63rem;
                    height: 2.1rem;
                    margin: 0;

                }

                &:hover {
                    @include startNowHover;

                    @media screen and (max-width: 700px) and (min-width: 200px) {
                        width: 13.63rem;

                    }
                }


            }
        }
    }
}

.info-second {
    &__captureService {
        margin: auto;

        img {
            width: 55vw;


            @media screen and (max-width: 700px) and (min-width: 200px) {
                width: 100%;
            }
        }
    }
}

.info-movies {
    &__moviesSeriesCatalogue {
        margin: 3vw 0rem;


        @media screen and (max-width: 850px) and (min-width: 200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        img {

            width: 46vw;


            @media screen and (max-width:860px) and (min-width: 200px) {
                width: 330px;

            }
        }
    }
}

.info-share {
    &__usersIcons {
        @include infoShareIcons;

        @media screen and (max-width:800px) and (min-width:200px) {
            height: 5rem;
            gap: 15%;
        }

        div {
            width: 8%;
            display: flex;

            img {
                width: 60%;

                @media screen and (max-width:800px) and (min-width:200px) {
                    width: 75%;
                }
            }
        }
    }
}

.info-more {
    &__info {
        a {
            text-decoration: none;

            button {
                
                @include buttonStartNow(15rem, 5vw, 4.1rem, 2rem, 0rem, .6rem, 1.5vw, 1.5rem, #ff0000);

                @media screen and (max-width: 700px) and (min-width: 200px) {
                    width: 9.63rem;
                    height: 2.1rem;
                    margin: 0;

                }

                &:hover {
                    @include bodyStyles;
                    width: 23%;

                }
            }
        }
    }
}

.legal {
    &__info {
        div {
            @include legalLogo;

            i {
                display: inline-block;
                width: 35%;

                .logo-cafe {

                    width: 100%;
                }
            }
        }
    }
}