header {
    .barlogo {
        @include barLogo;

        i {
            width: 8%;

            .logo-rojo {

                @include logoRojo;

                &:hover {
                    scale: 108%;
                }
            }
        }


    }
}

.info-main {
    &__captureService {
        @include infoMainCaptureService;

        &--capturaGral {
            @include infoMainCapturaGral;

            @media screen and (max-width: 700px) and (min-width: 200px) {
                width: 100%;
            }
        }
    }

    &__buttons {
        @include infoMainButtons;

        @media screen and (max-width: 700px) and (min-width:200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 2rem;
        }


        &--putEmail {
            @include inputEmail;

            @media screen and (max-width: 700px) and (min-width:200px) {
                width: 60%;
                border-radius: .8rem;

            }

            &:focus {
                @include inputEmailFocus;
            }
        }

        a {
            @include textButton;

            .startNow {
                @include buttonStartNow;

                @media screen and (max-width: 700px) and (min-width: 200px) {
                    width: 7.63rem;
                    height: 2.1rem;
                    margin: 0;

                }

                &:hover {
                    @include startNowHover;
                }


            }
        }
    }
}

.info-second {
    &__captureService {
        margin: auto;

        img {
            @include infoSecondCapture;

            @media screen and (max-width: 700px) and (min-width: 200px) {
                width: 100%;
            }
        }
    }
}

.info-movies {
    &__moviesSeriesCatalogue {
        @include movieSeriesCatalogue;

        @media screen and (max-width: 850px) and (min-width: 200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        img {
            @include movieSeriesImg;

            @media screen and (max-width:850px) and (min-width: 200px) {
                width: 100%;

            }
        }
    }
}

.info-share {
    &__usersIcons {
        @include infoShareIcons;

        @media screen and (max-width:800px) and (min-width:200px) {
            height: 5rem;
            gap: 15%;
        }

        &--iconsDevices {
            @include infoShareIconsDevices;

            img {
                @include devicesImg;

                @media screen and (max-width:800px) and (min-width:200px) {
                    width: 75%;
                }
            }
        }
    }
}

.info-more {
    &__info {
        a {
            @include infoMoreButtonTitle;

            .info-more__info--startNowBtn {
                @include infoMoreStartNow;

                @media screen and (max-width: 700px) and (min-width: 200px) {
                    width: 7.63rem;
                    height: 2.1rem;
                    margin: 0;

                }

                &:hover {
                    @include infoMoreStartNowHover;
                }
            }
        }
    }
}

.legal {
    &__info {
        &--logo {
            @include legalLogo;

            i {
                @include legalLogoIcon;

                img {
                    @include legalLogoImg;
                }
            }
        }
    }
}