    body {
        @include bodyStyles;
    }

    header {
        .barlogo {

            h1 {
                @include transition25s;

                &:hover {
                    @include barLogoHover;
                }
            }
        }
    }

    .info-main {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        margin: 0rem 0rem;
        padding: 0rem;
        box-sizing: border-box;


        &__oferta {
            @include infoMainOferta;

            &--info {
                @include ofertaInfo;

            }

            &--desc {
                @include ofertaDesc;
            }
        }

    }

    .info-second {
        @include infoSecond;
            @media screen and (max-width: 700px) and (min-width: 200px) {
                flex-direction: column;
                margin: 1rem 0rem;
                padding: 1rem;
                box-sizing: border-box;
                
            }

        &__info {
            @include infoSecondInfo;
            @media screen and (max-width: 700px) and (min-width: 200px){
                text-align: center;
            }

            h2 {
                @include infoSecondTitle;
            }

            p {
                @include infoSecondP;
            }
        }

    }

    .info-movies {
        @include infoMovies;
        @media screen and (max-width: 850px) and (min-width: 200px){
            margin: 1rem 0rem;
            padding: 1rem;
            box-sizing: border-box;
            align-items: center;
        }

        &__moviesSeriesFree {
            h2 {
                @include moviesSeriesFreeTitle;
            }

            p {
                @include moviesSeriesFreeP;

            }
        }


    }

    .info-share {
        @include infoShare;

        &__info {

            &--shareText {
                @include infoShareText;
            }

            p {
                @include infoShareP;
            }
        }



        &__offer {
            &--priceText {
                @include infoSharePriceText;
            }

        }


    }

    .info-more {
        @include infoMore;

        &__info {

            &--offer {
                @include infoMoreOffer;
            }

            p {
                font-size: clamp(1rem, 2vw, 2rem);
                font-weight: 500;
                margin: 2rem 0;
                color: #000000;
            }

        }
    }

    .legal {
        @include legal;

        &__info {
            @include legalInfo;

            &--content {
                @include legalInfoContent;
            }


        }
    }